* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}

.indexBody {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.indexBody>div {
    width: 333px;
    height: 600px;
    border-radius: 40px;
    overflow: hidden;
    border: 2.5px solid #6B7072;
    box-shadow: 1px 8px 1px rgba(107, 112, 114, 0.5);
}
.indexBody>div .guideImgBox {
    width: 100%;
    height: 339px;
    overflow: hidden;
    position: relative;
}
.indexBody>div>div>img {
    width: 100%;
}
.guide001Contents, .guide002Contents, .guide003Contents {
    height: calc(100% - 339px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.indexBody>div>div h3 {
    color: #6B7072;
    font-size: 28px;
    text-align: center;
}
.indexBody>div>div button {
    width: 220px;
    height: 64px;
    border: 2px solid #6B7072;
    border-radius: 40px;
    font-size: 20px;
    color: #6B7072;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 8px rgba(107, 112, 114, 0.5);
}
.indexBody>div>div button:hover {
    box-shadow: inset 1px 8px 1px rgba(107, 112, 114, 0.5);
}
.guide001Contents button {
    background: #EDAE87;
}
.guide002Contents button {
    background: #F2D98E;
}
.guide003Contents button {
    background: #A5C2B5;
}
.guide001, .guide003 {
    transform: translateY(20px);
}
.guide002 {
    transform: translateY(-20px);
}
.indexBody>div:hover {
    transition: 0.3s all ease-in-out;
}
.indexBody>.guide001:hover, .indexBody>.guide003:hover{
    transform: translateY(5px);
}
.indexBody>.guide002:hover {
    transform: translateY(-35px);
}